# week 2: Basic python operation

# example header 1

## header 2

### header 3

In [127]:
# example mathematical operation
"""
this cell will do some mathematical operation
+ addition
- substraction
* multiplicaplion
/ division
# comment
shortcut for comment : ctrl + /
print ("HELLO WORLD")
"""

example = 23-(4 * 15) / 3 + 73

print (example)

76.0

In [18]:
# Concatenate (join) the strings “Good” and “day”
"""
string use "string" or 'string'
"""
a = "Good"
b = 'day'

print (a)
print("a is type ",type(a))
print (b)
print("b is type ",type(b))

concantetane_2_string = a+' '+b
print ("the concatenate result: ",concantetane_2_string)

Good
a is type  <class 'str'>
day
b is type  <class 'str'>
the concatenate result:  Good day

In [25]:
# Concatenate the strings “time”, “and”,  “chance”
c = "Time"
d = "and"
e = "chance"

concate_3_variable = c + ' ' + d + ' ' + e
print ("concatenate result : ", concate_3_variable)

concatenate result :  Time and chance

In [31]:
# square and square root operation
"""
square : base ** exponent (2^2 = 2**2, 5^10 = 5**10)
squareroot : use math library (math.sqrt) 

a)	Square of 547.25
b)	Square root of 973.16
c)	Square root of (973.75 + square of (45) )

"""
import math

# square of a variable
sq_number = 547.25 ** 2
print ("number kuasa dua bagi 547.25 ialah: ",sq_number)
sq_math = math.pow (547.25,2)
print ("number kuasa 2 mengguna kan math library: ", sq_math)
# square root
sq_rt_number = math.sqrt(973.16)
print ("punca kuasa 2 bagi 973.16 ialah: ",sq_rt_number)

number kuasa dua bagi 547.25 ialah:  299482.5625
number kuasa 2 mengguna kan math library:  299482.5625
punca kuasa 2 bagi 973.16 ialah:  31.195512497793654

In [88]:
# range of number
"""
3.	Given Sally’s name and mark, compute her grade (0-49 = Fail, 50-100 Pass):

name = 'Jonathan'
mark = 75

"""
name = "Jonathan"
mark = 101

if mark <= 49:
    grade = "failed"
elif mark >= 50 and mark <= 100:
    grade = "Pass"
else:
    grade = "invalid"
  
print (name,"grade is ",grade)

Jonathan grade is  invalid

In [89]:
name = "Sally"
mark = 150

if mark <= 49:
    grade = "failed"
elif mark >= 50 and mark <= 100:
    grade = "Pass"
else:
    grade = "invalid"

print (name,"grade is ",grade)

Sally grade is  invalid

In [94]:
# circle area
"""
4.	Given radius of a circle, calculate its area:

radius = 5.7
circle_area = pi*(r^2)

"""
pi = math.pi
radius = 5.7

circle_area1 = pi * (radius**2)
circle_area2 = pi * (pow(radius,2))


print ("area of circle: ", circle_area1)
print ("area of circle: ", circle_area2)

area of circle:  102.07034531513239
area of circle:  102.07034531513239

In [128]:
# net pay equation
"""
hours = 98 
rate = 35.70
gross_pay = hours * rate
deduction = 10 * rate
net_pay = pay - deduction 
print ('Take home pay = $', net_pay)
"""

hours = 98 
rate = 35.70
gross_pay = hours * rate
deduction = 2 * rate
net_pay = gross_pay - deduction 
print ('Take home pay = $', net_pay)

Take home pay = $ 3427.2000000000003